

            <div class="container flex flex-col items-center px-5 py-8 mx-auto lg:px-64">
              <div>
                <div class="flex flex-wrap py-8 md:flex-nowrap">
                  
                    <!-- side bar with sharing links and related companies -->
                    <div class="flex flex-col flex-shrink-0 px-2 mb-6 md:w-48 mr-4 md:mb-0 border-2">
                        <strong class="flex text-3xl font-thin leading-none text-left text-thin lg:text-4xl "> 10 <span class="text-sm">PPI </span>
                        </strong>
                        <span class="mt-1 text-xs font-normal leading-relaxed text-blueGray-700">Right. Say that again. No, no, George, look, it's just an act, right?.</span>
                    </div>

                    <!-- beginning of article text -->
                  <div class="md:flex-grow">

                    <%- include('articlecontent'); %>
                </div>

                  <!-- little space for a video to appear -->
                  <div class="flex flex-col flex-shrink-0 px-4 mb-6 md:w-64 mb-0">
                  </div>
                </div>
              </div>
            </div>
          
        