<div class="flex-1 flex flex-col">
    <nav class="px-4 flex justify-between bg-white h-16">

        <!-- top bar left -->
        <ul class="flex items-center">
            <li class="pl-6">
                <img src="img/menu.PNG" class="h-6 w-6">

            </li>
            <li class="pl-2">
                <h1>Menu</h1>
            </li>
            <li class="pl-6">
                Search
            </li>
        </ul>
        
        <ul class="flex items-center">
            <!-- Logo -->
            <li>
                <h1 class="text-4xl font-extrabold text-gray-900 pl-8 lg:pl-0 text-gray-700">Corp</h1>
            </li>
        </ul>
        <!-- to bar right  -->
        <ul class="flex items-center">
            <li class="pr-6">
                Europe Edition
            </li>
            <li class="pr-6">
                <p>Sign In</p>
            </li>
            <li class="pr-6">
                Subscribe
            </li>
        </ul>
    </nav>
</div>