<!DOCTYPE html>

<html>
    <head>
        <%- include('../partials/head'); %>
        <title><%= title %></title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <%- include('../partials/tophead'); %>

        <%- include('../partials/quicklinks'); %>
        
    </body>
</html>